! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! Credits to: 1bubneb/dotfiles

! --- special colors ---

*background: #000000
*foreground: #ffffff

! --- standard colors ---

! black, red, green, yellow, blue, cyan, white
urxvt*color0:         #353535
urxvt*color8:         #666666
!red
urxvt*color1:         #AE4747
urxvt*color9:         #EE6363
!green
urxvt*color2:         #86AF80
urxvt*color10:        #87BC87
!brown/yellow
urxvt*color3:         #DAA520
urxvt*color11:        #FFC125
!blue
urxvt*color4:         #6F99B4
urxvt*color12:        #7C96B0
!magenta
urxvt*color5:         #8B7B8B
urxvt*color13:        #D8BFD8
!cyan
urxvt*color6:         #A7A15E
urxvt*color14:        #F0E68C
!white
urxvt*color7:         #DDDDD
urxvt*color15:        #FFFFFF
! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

URxvt.scrollBar: false
URxvt.lineSpace: 5

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens | default is 110
URxvt*.shading: 20
