! urxvt settings

URxvt.loginShell: true
URxvt.font: xft:hack:size=11
URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt.lineSpace: 5

URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens | default is 110
URxvt*.shading: 20

URxvt.visualBell: true
URxvt*termName: rxvt

! rofi settings
rofi.opacity: 80
rofi.width: 50
rofi.lines: 4
rofi.columns: 1
rofi.padding: 100
